<p-card [header]="title">
  <!-- <ng-template #header pTemplate="header">
    <span class="header">Header</span>
  </ng-template> -->
  <ng-template #header pTemplate="content">
    <span class="content-wrapper">
      <span class="content">{{ content }}</span>
      <p-divider layout="vertical"></p-divider>
      <span>
        <button
          pButton
          pRipple
          type="button"

          [icon]="checked ? 'pi pi-check':'pi'"
          [ngClass]="{
            'p-button-rounded': true,
            'p-button-success': true,
            'p-button-outlined': !checked
          }"
          (click)="checked = !checked"
        ></button>
      </span>
    </span>
  </ng-template>
  <ng-template #header pTemplate="footer">
    <footer>
      <small>created at {{ timestamp | date : "MMM d, y, h:mm:ss a" }}</small>
    </footer>
  </ng-template>
</p-card>
