.display {
  height: 150px;
  margin-bottom: 50px;
  // border: 1px solid #000;

  border-radius: 9px;
  background: #eff3f5;
  box-shadow: inset 13px 13px 19px #dce0e1, inset -13px -13px 19px #ffffff;
}

.ops{
  margin-left: 10px;
  margin-top: 15px;
  font-size: 14px;
}

.rs{
  font-weight: 600;
  margin-left: 10px;
  margin-top: 5px;
}
